/* Δώσε ύψος σε όλη τη σελίδα για να μη "πετάει" το footer */
html, body {
    height: 100%;
}

/* Στυλ για το Sidebar */
.sidebar {
    min-height: 100vh;
    padding: 20px;
    border-right: 1px solid #dee2e6;
}

/* Στυλ για το κυρίως περιεχόμενο */
.col-sm-9 {
    padding: 30px;
}

/* Το Footer να είναι πάντα κάτω και όμορφο */
footer {
    background-color: #212529;
    color: white;
    padding: 15px;
    text-align: center;
}

.movie img {
    float: left;
    padding: 4px;
}


.movie-detail-main-img{
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: crimson 0 10px 30px;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.movie-list-img{
    float: left;
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: #570808 0 4px 8px;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

p{
    text-align: justify;
    line-height: 1.6;
}

.movie-list-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.movie-list-published-icon{
    color: #28a745;
    margin-right: 6px;
    font-size: 1.7rem;
    vertical-align: middle;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    margin-top: -5px;
}

.movie-list-written-by-icon{
    color: #17a2b8;
    margin-right: 10px;
    font-size: 1.7rem;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-top: -5px;

}

.movie-list-category-icon{
    color: #8b0000;
    margin-right: 10px;
    font-size: 1.7rem;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    margin-top: -5px;
}

