<!DOCTYPE html><html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movies</title>
    </head>
    <body>
        <div><h1><a href="/">My site</a></h1></div>
        <div>
            <h2><a href=””>The Godfather</a></h2>
            <p>Published on: 10/01/2026 , 02:18:39</p>
            <p>The aging patriarch of an organized crime dynasty
                transfers control of his clandestine empire to his reluctant son.</p>
        </div>
        <div>
            <h2><a href=””>Scarface</a></h2>
            <p>Published on: 10/01/2026 , 02:19:39</p>
            <p>In the 1980s, a determined criminal-minded Cuban immigrant becomes the biggest drug
                smuggler in Miami, and is eventually undone by his own drug addiction.</p>
        </div>
    </body>
</html>